@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  text-align: center;


}


.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}


@media (max-width: 400px) {
  .name {
    padding: 2rem 1rem;
    flex-direction: column;
    margin-block: 1rem;
    gap: 1rem;
  }
}
